{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hospital Management Responsive  HTML5 Template</title>
        <meta name="description" content="Hospital Management Responsive  HTML5 Template " />
        <meta name="keywords" content="business,corporate, creative, woocommerach, design, gallery, minimal, modern, landing page, cv, designer, freelancer, html, one page, personal, portfolio, programmer, responsive, vcard, one page" />
        <meta name="author" content="Hospital Management" />

        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
        <!-- fonts file -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- css file  -->
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <script src="{% static 'assets/js/modernizr-3.11.2.min.js' %}"></script>
    </head>

    <body>
        {% include 'base/navbar.html' %}

                <div class="page-wrape">
                    <div class="container-fluid">
                        <div class="section-header">
                            <div class="section-title">
                                <h2 class="title">Favqulodda vaziyat shakli</h2>
                            </div>
                        </div>
                        <div class="primary-tab">
                            <ul class="nav nav-tabs" id="Patient" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link active" id="personal-information-tab" data-toggle="tab" href="#personal-information" role="tab" aria-controls="personal-information" aria-selected="true">Shaxsiy ma'lumot</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link" id="service-information-tab" data-toggle="tab" href="#service-information" role="tab" aria-controls="service-information" aria-selected="false">Serves ma'lumoti</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="Payment-tab" data-toggle="tab" href="#Payment" role="tab" aria-controls="Payment" aria-selected="false">To'lov</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="PatientContent">
                                <div class="tab-pane fade show active" id="personal-information" role="tabpanel" aria-labelledby="personal-information-tab">
                                    <div class="primary-form">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="panme">Bemor ismi</label>
                                                        <input type="text" class="form-control" id="panme" name="panme" placeholder="Charlene Reed" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="pphonne">Telifon raqam</label>
                                                        <input type="text" class="form-control" id="pphonne" name="pphonne" placeholder="1234 5874 25" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="paddress">Mazil</label>
                                                        <input type="text" class="form-control" id="paddress" name="paddress" placeholder="San Joss, California, USA" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="page">Yosh</label>
                                                        <input type="text" class="form-control" id="page" name="page" placeholder="59" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="pbloggroup">Qon Guruhi</label>
                                                        <select class="form-control wide" id="pbloggroup">
                                                            <option>α va β:birinchi (0)</option>
                                                            <option>A va β: ikkinchi (A)</option>
                                                            <option>α va B: uchinchi (B)</option>
                                                            <option>A va B: toʻrtinchi (AB)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="Occupation">Kasbi</label>
                                                        <select class="form-control wide" id="Occupation">
                                                          <option>Business</option>
                                                          <option>Farmar</option>
                                                          <option>freelancer</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="gender">Jinsi</label>
                                                        <select class="form-control wide" id="gender">
                                                          <option>Erkak</option>
                                                          <option>Ayol</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="maritals">Oilaviy holati</label>
                                                        <select class="form-control wide" id="maritals">
                                                          <option>Married</option>
                                                          <option>Unmarried</option>
                                                        </select>
                                                    </div>
                                                </div>
                                               
                                                <div class="col-lg-8 col-md-6 ">
                                                    <div class="form-group">
                                                        <label for="remark">Izoh</label>
                                                        <input type="text" class="form-control" id="remark" name="remark" placeholder="Yozing" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 ">
                                                    <div class="form-group">
                                                        <label for="Referral">Yo'naltirish</label>
                                                        <select class="form-control wide" id="Referral">
                                                          <option>O'ziga</option>
                                                          <option>Boshqaga</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <label for="marital">Maslahatchi</label>
                                                        <select class="form-control wide" id="marital">
                                                          <option>O'z-o'zidan maslahatchi</option>
                                                          <option>Boshqa maslahatchi</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <button type="submit" class="form-btn">Next</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="service-information" role="tabpanel" aria-labelledby="service-information-tab">
                                    <div class="primary-form">
                                        <h2 class="service-title">O'zingiz xohlagan xizmatni tanlang</h2>
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-lg-7 col-md-7">
                                                    <div class="service-list-top d-flex align-items-center justify-content-between">
                                                        <h3 class="title">Xizmat nomi</h3>
                                                        <h3 class="price">Narxi</h3>
                                                    </div>
                                                    <div class="form-group service-form-check">
                                                        <input type="checkbox" class="form-check-input" id="serviceone">
                                                        <label class="service-check-label d-flex align-items-center justify-content-between" for="serviceone">
                                                            <span class="title">Jarrohlik bo'yicha mutaxassislarga kengroq kirish</span>
                                                            <span class="price">$700</span>
                                                        </label>
                                                    </div>
                                                    <div class="form-group service-form-check">
                                                        <input type="checkbox" class="form-check-input" id="serviceteo">
                                                        <label class="service-check-label d-flex align-items-center justify-content-between" for="serviceteo">
                                                            <span class="title">Jarrohlik bo'yicha mutaxassislarga kengroq kirish</span>
                                                            <span class="price">$700</span>
                                                        </label>
                                                    </div>
                                                    <div class="form-group service-form-check">
                                                        <input type="checkbox" class="form-check-input" id="servicethree">
                                                        <label class="service-check-label d-flex align-items-center justify-content-between" for="servicethree">
                                                            <span class="title">Greater access to surgical specialists</span>
                                                            <span class="price">$700</span>
                                                        </label>
                                                    </div>
                                                    <div class="form-group service-form-check">
                                                        <input type="checkbox" class="form-check-input" id="servicefour">
                                                        <label class="service-check-label d-flex align-items-center justify-content-between" for="servicefour">
                                                            <span class="title">Greater access to surgical specialists</span>
                                                            <span class="price">$700</span>
                                                        </label>
                                                    </div>
                                                    <div class="form-group service-form-check">
                                                        <input type="checkbox" class="form-check-input" id="servicefive">
                                                        <label class="service-check-label d-flex align-items-center justify-content-between" for="servicefive">
                                                            <span class="title">Greater access to surgical specialists</span>
                                                            <span class="price">$700</span>
                                                        </label>
                                                    </div>
                                                    <div class="form-group service-form-check">
                                                        <input type="checkbox" class="form-check-input" id="servicesix">
                                                        <label class="service-check-label d-flex align-items-center justify-content-between" for="servicesix">
                                                            <span class="title">Greater access to surgical specialists</span>
                                                            <span class="price">$700</span>
                                                        </label>
                                                    </div>
                                                    <div class="form-group service-form-check">
                                                        <input type="checkbox" class="form-check-input" id="serviceseven">
                                                        <label class="service-check-label d-flex align-items-center justify-content-between" for="serviceseven">
                                                            <span class="title">Greater access to surgical specialists</span>
                                                            <span class="price">$700</span>
                                                        </label>
                                                    </div>
                                                    <button type="submit" class="form-btn">Next</button>
                                                </div>
                                                <div class="col-lg-5 col-md-5">
                                                    <div class="given-services sm-mt-30">
                                                        <h3>Berilgan xizmatlar ro'yxati</h3>
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                      <th scope="col">SL</th>
                                                                      <th scope="col">Xizmat nomi</th>
                                                                      <th scope="col">Narxi</th>
                                                                    </tr>
                                                                  </thead>
                                                                  <tbody>
                                                                    <tr>
                                                                      <td>1</td>
                                                                      <td>Pediatriyaga ixtisoslashgan parvarish</td>
                                                                      <td>$500</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>2</td>
                                                                        <td>Retsept bo'yicha xizmatlar</td>
                                                                        <td>$1,200</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>3</td>
                                                                        <td>Oziqlantirish bo'yicha maslahat</td>
                                                                        <td>$1,700</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th colspan="2">Umumiy</th>
                                                                        <th>$3,400</th>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Payment" role="tabpanel" aria-labelledby="Payment-tab">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6">
                                            <div class="primary-form">
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label for="subtotal">Umumiy</label>
                                                                <input type="text" class="form-control" id="subtotal" name="subtotal" placeholder="Charlene Reed" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="discount">Chegirma</label>
                                                                <input type="text" class="form-control" id="discount" name="discount" placeholder="10%" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="less">Ozroq</label>
                                                                <input type="text" class="form-control" id="less" name="less" placeholder="$340" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label for="grandtotal">Umumiy Grand</label>
                                                                <input type="text" class="form-control" id="grandtotal" name="grandtotal" placeholder="$3060" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label for="paidamount">To'langan miqdor</label>
                                                                <input type="text" class="form-control" id="paidamount" name="paidamount" placeholder="$3060" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label for="Due">Muddati</label>
                                                                <input type="text" class="form-control" id="Due" name="Due" placeholder="0" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <button type="submit" class="form-btn">Yuborish</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 text-center">
                                            <img src="{% static 'assets/images/emergency-from-img.png' %}" alt="emergency-from-img" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="body-overlay"></div>
        
        <script src="{% static 'assets/js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>
