{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hospital Management Responsive  HTML5 Template</title>
        <meta name="description" content="Hospital Management Responsive  HTML5 Template " />
        <meta name="keywords" content="business,corporate, creative, woocommerach, design, gallery, minimal, modern, landing page, cv, designer, freelancer, html, one page, personal, portfolio, programmer, responsive, vcard, one page" />
        <meta name="author" content="Hospital Management" />

        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="{% static 'assets/images/favicon.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
        <!-- fonts file -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- css file  -->
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <script src="{% static 'assets/js/modernizr-3.11.2.min.js' %}"></script>
    </head>

    <body>
        {% include 'base/navbar.html' %}
               
                <div class="page-wrape" >
                    <div class="welcome-area">
                        <div class="container-fluid">
                            <div class="section-header">
                                <div class="section-title">
                                    <h2 class="title">Xush Kelibsiz</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="welcome-slide">
                                        <div class="single-welcome">
                                            <div class="media align-items-center">
                                                <div class="welcome-icon bg-one">
                                                    <img src="{% static 'assets/images/icons/Patient.svg' %}" alt="Patient" />
                                                </div>
                                                <div class="media-body">
                                                  <p class="m-0">Bemorlar soni</p>
                                                  <h3 class="counter"> {{ total_patients }}</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-welcome">
                                            <div class="media align-items-center">
                                                <div class="welcome-icon bg-two">
                                                    <img src="{% static 'assets/images/icons/healthcare-tools.svg' %}" alt="Patient" />
                                                </div>
                                                <div class="media-body">
                                                  <p class="m-0">Doktorlar soni</p>
                                                  <h3 class="counter">{{total_doctor}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-welcome">
                                            <div class="media align-items-center">
                                                <div class="welcome-icon bg-three">
                                                    <img src="{% static 'assets/images/icons/bed.svg' %}" alt="Patient" />
                                                </div>
                                                <div class="media-body">
                                                  <p class="m-0">Yotoqlar soni</p>
                                                  <h3 class="counter">{{total_rooms}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-welcome">
                                            <div class="media align-items-center">
                                                <div class="welcome-icon bg-four">
                                                    <img src="{% static 'assets/images/icons/syringe.svg' %}" alt="Patient" />
                                                </div>
                                                <div class="media-body">
                                                  <p class="m-0">Operatsiyalar soni</p>
                                                  <h3 class="counter">{{total_operations}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="welcome-slide">
                                        <div class="single-welcome">
                                            <div class="media align-items-center">
                                                <div class="welcome-icon bg-one">
                                                    <img src="{% static 'assets/images/day.png' %}" alt="Patient" />
                                                </div>
                                                <div class="media-body">
                                                <p class="m-0">Bugungi bemorlar soni</p>
                                                <h3 class="counter">{{daily_added}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-welcome">
                                            <div class="media align-items-center">
                                                <div class="welcome-icon bg-four">
                                                    <img src="{% static 'assets/images/icons/week.png' %}" alt="Patient" />
                                                </div>
                                                <div class="media-body">
                                                <p class="m-0">Haftalik bemorlar soni</p>
                                                <h3 class="counter">{{weekly_added}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-welcome">
                                            <div class="media align-items-center">
                                                <div class="welcome-icon bg-four">
                                                    <img src="{% static 'assets/images/icons/monyh.png' %}" alt="Patient" />
                                                </div>
                                                <div class="media-body">
                                                <p class="m-0">Oylik bemorlar soni</p>
                                                <h3 class="counter">{{monthly_added}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-welcome">
                                            <div class="media align-items-center">
                                                <div class="welcome-icon bg-four">
                                                    <img src="{% static 'assets/images/icons/year.png' %}" alt="Patient" />
                                                </div>
                                                <div class="media-body">
                                                <p class="m-0">Yillik bemorlar soni</p>
                                                <h3 class="counter">{{year_added}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accounts-area mb-30">
                                            <div class="container-fluid">
                                                <div class="section-header">
                                                    <div class="section-title">
                                                        <h2 class="title">Hisoblar</h2>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="account-slide">
                                                        <div class="single-accounts">
                                                            <div class="media align-items-center">
                                                                <div class="accounts-icon bg-one">
                                                                    <img src="{% static 'assets/images/icons/profit.svg' %}" alt="Patient" />
                                                                </div>
                                                                <div class="media-body">
                                                                <p class="m-0">Ushbu haftadagi foyda</p>
                                                                <h3><span>$</span><span class="counter">25600</span></h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="single-accounts">
                                                            <div class="media align-items-center">
                                                                <div class="accounts-icon bg-two">
                                                                    <img src="{% static 'assets/images/icons/expense.svg' %}" alt="Patient" />
                                                                </div>
                                                                <div class="media-body">
                                                                <p class="m-0">Ushbu haftadagi xarajatlar</p>
                                                                <h3><span>$</span><span class="counter">15800</span></h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="single-accounts">
                                                            <div class="media align-items-center">
                                                                <div class="accounts-icon bg-three">
                                                                    <img src="{% static 'assets/images/icons/income.svg' %}" alt="Patient" />
                                                                </div>
                                                                <div class="media-body">
                                                                <p class="m-0">Ushbu haftadagi daromad</p>
                                                                <h3><span>$</span><span class="counter">10200</span></h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="patient-history ">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-4 mb-30">
                                                    <div class="section-header">
                                                        <div class="section-title">
                                                            <h2 class="title">Yuqori kasalliklar</h2>
                                                        </div>
                                                    </div>
                                                    <div class="section-wrapper">
                                                        <div class="diseases-chart">
                                                            <img src="{% static 'assets/images/pie_chart.png' %}" alt=""  style="width: 69%; height: 69%;">
                                                            <div class="stats">
                                                                <ul>
                                                                    <li data-name="Stroke"><span class="bulet stroke"></span> Qon tomir</li>
                                                                    <li data-name="Diabetes"><span class="bulet diabetes"></span> Qandli diabet</li>
                                                                    <li data-name="Cirrhosis"><span class="bulet cirrhosis"></span> Siroz</li>
                                                                    <li data-name="Tuberculosis"><span class="bulet tuberculosis"></span> Tuberculosis</li>
                                                                    <li data-name="lungcancers"><span class="bulet cancers"></span> O'pka saratoni</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 mb-30">
                                                    <div class="section-header">
                                                        <div class="section-title">
                                                            <h2 class="title">Top Doktorlar</h2>
                                                        </div>
                                                    </div>
                                                    <div class="section-wrapper">
                                                        <div class="top-doctors">
                                                            <div class="doctor-list">
                                                                {% for doctor in doctors %}
                                                                <div class="single-doctor d-flex align-items-center justify-content-between">
                                                                    <div class="doctor-info">
                                                                        <div class="media align-items-center">
                                                                            <div class="doctor-images mr-3">
                                                                                <a href="#"><img src="{{doctor.profile_image.url}}" alt="doctor1" /></a>
                                                                            </div>
                                                                            <div class="media-body">
                                                                            <h3 class="doctor-name mt-0"><a href="#">{{doctor.doctor_fullname}}</a></h3>
                                                                            <p class="doctor-catagory m-0">{{doctor.doctor_status}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="doctor-review text-right">
                                                                        <ul class="review">
                                                                            <li><i class="flaticon-star"></i></li>
                                                                            <li><i class="flaticon-star"></i></li>
                                                                            <li><i class="flaticon-star"></i></li>
                                                                            <li><i class="flaticon-star"></i></li>
                                                                            <li><i class="flaticon-star"></i></li>
                                                                        </ul>
                                                                        <span class="review-count">Work time {{doctor.work_time}}</span>
                                                                    </div>
                                                                </div>
                                                                {% endfor %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="body-overlay"></div>
        

        <script src="{% static 'assets/js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/chart-active.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>
