/*-------------------------
6.section-title
--------------------------*/
.section-title {
     .title {
          margin: 0;
          font-size: 2.2rem;
          font-weight: 600;
          text-transform: capitalize;
          color: #292968;
     }
}

@media (max-width: 480px) {
     .section-title .title {
          font-size: 1.8rem;
     }
}