{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hospital Management Responsive  HTML5 Template</title>
        <meta name="description" content="Hospital Management Responsive  HTML5 Template " />
        <meta name="keywords" content="business,corporate, creative, woocommerach, design, gallery, minimal, modern, landing page, cv, designer, freelancer, html, one page, personal, portfolio, programmer, responsive, vcard, one page" />
        <meta name="author" content="Hospital Management" />

        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
        <!-- fonts file -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- css file  -->
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <script src="{% static 'assets/js/modernizr-3.11.2.min.js' %}"></script>
    </head>

    <body>
        {% include 'base/navbar.html' %}

                <div class="page-wrape">
                    <div class="Expense-list-area">
                        <div class="container-fluid">
                            <div class="section-header">
                                <div class="section-title">
                                    <h2 class="title">Xarajatlar Listi</h2>
                                </div>
                            </div>
                            <div class="expense-list">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                              <th scope="col"><input type="checkbox" /> Xarajatlar boshlig'i</th>
                                              <th scope="col">Kategoriya</th>
                                              <th scope="col">Miqdor</th>
                                              <th scope="col">Sanasi</th>
                                              <th scope="col">Bank</th>
                                              <th scope="col">Karta raqam</th>
                                              <th scope="col">Harakat</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td><input type="checkbox" /> Xizmat ko'rsatish</td>
                                              <td>Kommunal xizmatlar uchun to'lov</td>
                                              <td>$5,400</td>
                                              <td>21 Yan, 2021</td>
                                              <td>Sovuq ~ gripp</td>
                                              <td>0564 *** ***</td>
                                              <td><a class="view-btn" href="#">Tafsilotlarni ko'rish</a></td>
                                            </tr>
                                            <tr>
                                              <td><input type="checkbox" /> Servicing</td>
                                              <td>Utilities Bill</td>
                                              <td>$5,400</td>
                                              <td>21 Jan, 2021</td>
                                              <td>Cold & Flu</td>
                                              <td>0564 *** ***</td>
                                              <td><a class="view-btn" href="#">View Details</a></td>
                                            </tr>
                                            <tr>
                                              <td><input type="checkbox" /> Servicing</td>
                                              <td>Utilities Bill</td>
                                              <td>$5,400</td>
                                              <td>21 Jan, 2021</td>
                                              <td>Cold & Flu</td>
                                              <td>0564 *** ***</td>
                                              <td><a class="view-btn" href="#">View Details</a></td>
                                            </tr>
                                            <tr>
                                              <td><input type="checkbox" /> Servicing</td>
                                              <td>Utilities Bill</td>
                                              <td>$5,400</td>
                                              <td>21 Jan, 2021</td>
                                              <td>Cold & Flu</td>
                                              <td>0564 *** ***</td>
                                              <td><a class="view-btn" href="#">View Details</a></td>
                                            </tr>
                                            <tr>
                                              <td><input type="checkbox" /> Servicing</td>
                                              <td>Utilities Bill</td>
                                              <td>$5,400</td>
                                              <td>21 Jan, 2021</td>
                                              <td>Cold & Flu</td>
                                              <td>0564 *** ***</td>
                                              <td><a class="view-btn" href="#">View Details</a></td>
                                            </tr>
                                            <tr>
                                              <td><input type="checkbox" /> Servicing</td>
                                              <td>Utilities Bill</td>
                                              <td>$5,400</td>
                                              <td>21 Jan, 2021</td>
                                              <td>Cold & Flu</td>
                                              <td>0564 *** ***</td>
                                              <td><a class="view-btn" href="#">View Details</a></td>
                                            </tr>
                                            <tr>
                                              <td><input type="checkbox" /> Servicing</td>
                                              <td>Utilities Bill</td>
                                              <td>$5,400</td>
                                              <td>21 Jan, 2021</td>
                                              <td>Cold & Flu</td>
                                              <td>0564 *** ***</td>
                                              <td><a class="view-btn" href="#">View Details</a></td>
                                            </tr>
                                            <tr>
                                              <td><input type="checkbox" /> Servicing</td>
                                              <td>Utilities Bill</td>
                                              <td>$5,400</td>
                                              <td>21 Jan, 2021</td>
                                              <td>Cold & Flu</td>
                                              <td>0564 *** ***</td>
                                              <td><a class="view-btn" href="#">View Details</a></td>
                                            </tr>
                                            <tr>
                                              <td><input type="checkbox" /> Servicing</td>
                                              <td>Utilities Bill</td>
                                              <td>$5,400</td>
                                              <td>21 Jan, 2021</td>
                                              <td>Cold & Flu</td>
                                              <td>0564 *** ***</td>
                                              <td><a class="view-btn" href="#">View Details</a></td>
                                            </tr>
                                            <tr>
                                              <td><input type="checkbox" /> Servicing</td>
                                              <td>Utilities Bill</td>
                                              <td>$5,400</td>
                                              <td>21 Jan, 2021</td>
                                              <td>Cold & Flu</td>
                                              <td>0564 *** ***</td>
                                              <td><a class="view-btn" href="#">View Details</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="pagination-area mt-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="shoing-reselt m-0">256 ta maʼlumotlardan 10 tasi koʻrsatilmoqda</p>
                                    </div>
                                    <div class="col-sm-6 text-left text-sm-right">
                                        <ul class="pagination-list">
                                            <li class="Previous"><a href="#"><i class="flaticon-left-arrow"></i> Oldingi</a></li>
                                            <li class="page active"><a href="#">1</a></li>
                                            <li class="page"><a href="#">2</a></li>
                                            <li class="page"><a href="#">3</a></li>
                                            <li class="page"><a href="#">4</a></li>
                                            <li class="next"><a href="#">Keyingi <i class="flaticon-next"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="body-overlay"></div>
        
        <script src="{% static 'assets/js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>
