{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hospital Management Responsive  HTML5 Template</title>
        <meta name="description" content="Hospital Management Responsive  HTML5 Template " />
        <meta name="keywords" content="business,corporate, creative, woocommerach, design, gallery, minimal, modern, landing page, cv, designer, freelancer, html, one page, personal, portfolio, programmer, responsive, vcard, one page" />
        <meta name="author" content="Hospital Management" />

        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
        <!-- fonts file -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- css file  -->
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <script src="{% static 'assets/js/modernizr-3.11.2.min.js' %}"></script>
    </head>

    <body>
        {% include 'base/navbar.html' %}

                <div class="page-wrape">
                    <div class="Expense-list-area">
                        <div class="container-fluid">
                            <div class="section-header">
                                <div class="section-title">
                                    <h2 class="title">Xarajatlar Listi</h2>
                                </div>
                            </div>
                            <div class="expense-list">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                              <th scope="col"><input type="checkbox" /> Xarajatlar</th>
                                              <th scope="col">Kategoriya</th>
                                              <th scope="col">Miqdor</th>
                                              <th scope="col">Sanasi</th>
                                              <th scope="col">Bank</th>
                                              <th scope="col">Karta raqam</th>
                                              <th scope="col">Harakat</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for expense in page_obj %}
                                            <tr>
                                              <td><input type="checkbox" />{{expense.expense_head}}</td>
                                              <td>{{expense.select_category}}</td>
                                              <td>{{expense.amount}}</td>
                                              <td>{{expense.expense_date}}</td>
                                              <td>{{expense.select_bank}}</td>
                                              <td>{{expense.card_number}}</td>
                                              <td><a class="view-btn" href="{% url 'accounts' %}">Tafsilotlarni ko'rish</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="pagination-area mt-10">
                                <div class="row">
                                   
                                    <div class="col-sm-6 text-left text-sm-right">
                                        <ul class="pagination-list">
                                          {% if page_obj.has_previous %}
                                          <li class="page"><a href="?page=1">&laquo; First</a></li>
                                          <li class="page"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                          {% endif %}
                                          
                                          {% for num in page_obj.paginator.page_range %}
                                              {% if num == page_obj.number %}
                                                  <li class="page active"><span>{{ num }}</span></li>
                                              {% else %}
                                                  <li class="page"><a href="?page={{ num }}">{{ num }}</a></li>
                                              {% endif %}
                                          {% endfor %}
                                          
                                          {% if page_obj.has_next %}
                                              <li class="page"><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                              <li class="page"><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                                          {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="body-overlay"></div>
        
        <script src="{% static 'assets/js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>
