{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hospital Management Responsive  HTML5 Template</title>
        <meta name="description" content="Hospital Management Responsive  HTML5 Template " />
        <meta name="keywords" content="business,corporate, creative, woocommerach, design, gallery, minimal, modern, landing page, cv, designer, freelancer, html, one page, personal, portfolio, programmer, responsive, vcard, one page" />
        <meta name="author" content="Hospital Management" />

        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
        <!-- fonts file -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- css file  -->
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <script src="{% static 'assets/js/modernizr-3.11.2.min.js' %}"></script>
    </head>

    <body>
        {% include 'base/navbar.html' %}
                <div class="page-wrape">
                    <div class="container-fluid">
                        <div class="section-header">
                            <div class="row">
                                <div class="col-6">
                                    <div class="section-title">
                                        <h2 class="title">Yangi bemor qo'shish</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="primary-tab">
                            <ul class="nav nav-tabs" id="Patient" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link active" id="personal-information-tab" data-toggle="tab" href="#personal-information" role="tab" aria-controls="personal-information" aria-selected="true">Personal Information</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="PatientContent">
                                <div class="tab-pane fade show active" id="personal-information" role="tabpanel" aria-labelledby="personal-information-tab">
                                    <div class="primary-form">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="user-image">
                                                        <img src="{% static 'assets/images/profile.png' %}" alt="profile" />
                                                        <!-- <a class="edit-btn" href="#"><span class="flaticon-pencil-1"></span></a> -->
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="panme">Bemorning ismi</label>
                                                        <input type="text" class="form-control" id="panme" name="panme" placeholder="Akbarali Fayziyev" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="pphonne">Telefon raqam</label>
                                                        <input type="text" class="form-control" id="pphonne" name="pphonne" placeholder="1234 5874 25" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="paddress">Manzil</label>
                                                        <input type="text" class="form-control" id="paddress" name="paddress" placeholder="O'zbekiston Navoiy sh. Beshkent mFY" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="page">Yoshi</label>
                                                        <input type="text" class="form-control" id="page" name="page" placeholder="59" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="pbloggroup">Qon gruxi</label>
                                                        <select class="form-control wide" id="pbloggroup">
                                                            <option>α va β:birinchi (0)</option>
                                                            <option>A va β: ikkinchi (A)</option>
                                                            <option>α va B: uchinchi (B)</option>
                                                            <option>A va B: toʻrtinchi (AB)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="Occupation">Qabul holati</label>
                                                        <select class="form-control wide" id="Occupation">
                                                          <option>Business</option>
                                                          <option>Farmar</option>
                                                          <option>freelancer</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="gender">Jinsi</label>
                                                        <select class="form-control wide" id="gender">
                                                          <option>Male</option>
                                                          <option>Famale</option>
                                                          <option>Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="marital">Oilaviy holati</label>
                                                        <select class="form-control wide" id="marital">
                                                          <option>Married</option>
                                                          <option>Unmarried</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="marital">Qabul qiluvchi shifokor</label>
                                                        <select class="form-control wide" id="marital">
                                                          <option>Married</option>
                                                          <option>Unmarried</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label for="description">Qo'shimcha</label>
                                                        <textarea class="form-control message" id="description" rows="3" placeholder="Write a short description"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <button type="submit" class="form-btn">Bemor qo'shish</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="guardian-information" role="tabpanel" aria-labelledby="guardian-information-tab">
                                    <div class="primary-form">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="gnanme">Guardian Name</label>
                                                        <input type="text" class="form-control" id="gnanme" name="gnanme" placeholder="Charlene Reed" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="gphonne">Phone Number</label>
                                                        <input type="text" class="form-control" id="gphonne" name="gphonne" placeholder="1234 5874 25" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="gaddress">Address</label>
                                                        <input type="text" class="form-control" id="gaddress" name="gaddress" placeholder="San Joss, California, USA" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="gage">Age</label>
                                                        <input type="text" class="form-control" id="gage" name="gage" placeholder="59" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="relation">Relation</label>
                                                        <select class="form-control wide" id="relation">
                                                          <option>Father</option>
                                                          <option>Mother</option>
                                                          <option>Brothor</option>
                                                          <option>Sister</option>
                                                          <option>Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="goccupation">g</label>
                                                        <select class="form-control wide" id="goccupation">
                                                          <option>Business</option>
                                                          <option>Farmar</option>
                                                          <option>freelancer</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label for="description2">Description</label>
                                                        <textarea class="form-control message" id="description2" rows="3" placeholder="Write a short description"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <button type="submit" class="form-btn">Bemor qo'shish</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-overlay"></div>
        
        
        <script src="{% static 'assets/js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>
