{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Hospital Management Responsive  HTML5 Template</title>
      <meta name="description" content="Hospital Management Responsive  HTML5 Template " />
      <meta name="keywords" content="business,corporate, creative, woocommerach, design, gallery, minimal, modern, landing page, cv, designer, freelancer, html, one page, personal, portfolio, programmer, responsive, vcard, one page" />
      <meta name="author" content="Hospital Management" />

      <!-- Place favicon.ico in the root directory -->
      <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">
      <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
      <!-- fonts file -->
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <!-- css file  -->
      <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
      <script src="{% static 'assets/js/modernizr-3.11.2.min.js' %}"></script>
  </head>

  <body>
    {% include 'base/navbar.html' %}
            <div class="page-wrape">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="section-header">
                                <div class="section-title">
                                    <h2 class="title">Bemor Profili</h2>
                                </div>
                            </div>
                            <div class="section-wrapper">
                                <div class="Patient-Profile">
                                    <div class="Profile-top">
                                        <div class="media align-items-center">
                                            <div class="Patient-image mr-3">
                                                <img src="{% static 'assets/images/profile.png' %}" alt="Patient-profile.png" />
                                            </div>
                                            <div class="media-body">
                                              <h4 class="Patient-name">{{patient.patient_fullname}}</h4>
                                              <div class="Patient-des">
                                                <span>Bemor shifokori: {{patient.patient_acceptance}}</span>
                                                <span>Kasallik: {{patient.diseases}}</span>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="primary-tab">
                                        <ul class="nav nav-tabs" id="PatientProfile" role="tablist">
                                            <li class="nav-item" role="presentation">
                                              <a class="nav-link active" id="patient-information-tab" data-toggle="tab" href="#patient-information" role="tab" aria-controls="patient-information" aria-selected="true">Bemor tarixi</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="PatientProfileContent">
                                            <div class="tab-pane fade show active" id="patient-information" role="tabpanel" aria-labelledby="patient-information-tab">
                                              <div class="table-responsive">
                                                    <table class="table table-borderless">
                                                        <tbody>
                                                          <tr>
                                                            <td>Tug'ilgan yili</td>
                                                            <td>{{patient.patient_birth}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td>Yoshi</td>
                                                            <td>{{patient.patient_age}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td>Jinsi</td>
                                                            <td>{{patient.patient_gender}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td>Bemor turi</td>
                                                            <td>{{patient.patient_status}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td>Oilaviy holati</td>
                                                            <td>{{patient.patient_married}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td>Manzil</td>
                                                            <td>{{patient.patient_address}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td>Telifon raqam</td>
                                                            <td>{{patient.patient_phone}}</td>
                                                          </tr>
                                                        </tbody>
                                                    </table>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>    
                        <div class="col-lg-7">
                            <div class="section-header">
                            </div>
                            <div class="section-wrapper">
                                <div class="Patient-Profile">
                                    <div class="Profile-top">
                                        <div class="media align-items-center">
                                            <div class="Patient-image mr-3">
                                                <img src="{% static 'assets/images/patient/medical.jpg' %}" alt="Patient-profile.png" />
                                            </div>
                                            <div class="media-body">
                                              <h4 class="Patient-name">{{patient.patient_fullname}}</h4>
                                              <div class="Patient-des">
                                                <span>Bemor shifokori: {{patient.patient_acceptance}}</span>
                                                <span>Kasallik: {{patient.diseases}}</span>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="primary-tab">
                                        <ul class="nav nav-tabs" id="PatientProfile" role="tablist">
                                            <li class="nav-item" role="presentation">
                                              <a class="nav-link active" id="patient-information-tab" data-toggle="tab" href="#patient-information" role="tab" aria-controls="patient-information" aria-selected="true">Bemor malumoti</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="PatientProfileContent">
                                            <div class="tab-pane fade show active" id="patient-information" role="tabpanel" aria-labelledby="patient-information-tab">
                                              <div class="table-responsive">
                                                    <table class="table table-borderless">
                                                        <tbody>
                                                          <tr>
                                                            <td>Registratsiya qilingan sana</td>
                                                            <td>{{patient_view.check_in_date}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td>Kasallik turi</td>
                                                            <td>{{patient_view.disease}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td>Berilgan Retsept</td>
                                                            <td>{{patient_view.retsept}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td>Bemor turi</td>
                                                            <td>{{patient_view.patient_status}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td>To'lov turi</td>
                                                            <td>{{patient_view.payments}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td>To'lov miqdori</td>
                                                            <td>{{patient_view.payment_price}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td>To'lov Holati</td>
                                                            <td>{{patient_view.payment_status}}</td>
                                                          </tr>
                                                          
                                                        </tbody>
                                                    </table>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="heart-rate-area mb-30 md-mt-30">
                                <div class="section-header">
                                    <div class="section-title">
                                        <h2 class="title">Yurak urish tezligi</h2>
                                    </div>
                                </div>
                                <div class="section-wrapper py-0 pl-3">
                                  <div id="heartRate"></div>
                                </div>
                            </div>
                            <div class="blood-pressure mb-30">
                                <div class="section-header">
                                    <div class="section-title">
                                        <h2 class="title">Qon bosimi</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="section-wrapper ">
                                            <div class="single-blood-Pressure">
                                                <div class="systolic">
                                                    <canvas id="systolic" height="95"></canvas>
                                                    <h4>Sistolik</h4>
                                                    <h2>150 <sub>mmhz</sub></h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="section-wrapper sm-mt-30">
                                            <div class="single-blood-Pressure">
                                                <div class="diastolic">
                                                    <canvas id="diastolic" height="95"></canvas>
                                                    <h4>Diastolik</h4>
                                                    <h2>150 <sub>mmhz</sub></h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blood-report">
                                <div class="section-header">
                                    <div class="section-title">
                                        <h2 class="title">Qon hisoboti</h2>
                                    </div>
                                </div>
                                <div class="section-wrapper p-0">
                                    <div class="table-respinsive">
                                        <table class="table mb-0">
                                            <tbody>
                                              <tr>
                                                <td>Pastki klaster</td>
                                                <td>90.9%</td>
                                              </tr>
                                              <tr>
                                                <td>Pastki tola</td>
                                                <td>1.8%</td>
                                              </tr>
                                              <tr>
                                                <td>Suv qushlarining patlari</td>
                                                <td>1.7%</td>
                                              </tr>
                                              <tr>
                                                <td>Kvil</td>
                                                <td>0.0%</td>
                                              </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    <div class="body-overlay"></div>
    
    <script src="{% static 'assets/js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
        /* ----------------------
        systolic
        -------------------------- */
        var ctx = document.getElementById('systolic').getContext("2d");
        var Gradient = ctx.createLinearGradient(0, 0, 0, 120);
        Gradient.addColorStop(0, "rgba(255, 143, 107, 0.2)");
        Gradient.addColorStop(1, "rgba(255, 255, 255, 0)");
        var systolic = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "July","Aug","Sep","Oct","Nov","Dec"],
            datasets: [{
                label: "Systolic",
                borderColor: "#FF8F6B",
                pointBorderColor: "transparent",
                pointBackgroundColor: "transparent",
                pointHoverBackgroundColor: "#ffffff",
                pointHoverBorderColor: "#FF8F6B",
                pointBorderWidth: 2,
                pointRadius: 5,
                pointHoverRadius: 5,
                pointHoverBorderWidth: 2,
                backgroundColor: Gradient,
                borderWidth: 2,
                data: [1000, 1400, 1000, 1900, 1200, 1300, 1000, 1600, 1000, 1700, 1000, 600]
            }]
        },
        options: {
            legend: {
                display: false,
                position: "top",
                align: "center",
            },
            scales: {
                yAxes: [{
                        ticks: {
                            display: false,
                            fontFamily: "Inter', sans-serif",
                            fontColor: '#C2C2DD',
                            fontSize: 15,
                            beginAtZero:true,
                            padding: 20,
                            max: 2000,
                            min: 0,
                            stepSize: 500,
                        },
                        gridLines: {
                            display: false,
                            zeroLineWidth: 0,
                            zeroLineColor: "transparent",
                            drawTicks: false,
                            display: true,
                            color: "#F0F0F5",
                            borderDash: [5],
                            lineWidth: 0,
                        }
        
                }],
                xAxes: [{
                        ticks: {
                            display: false,
                            fontFamily: "Inter', sans-serif",
                            beginAtZero:true,
                            fontColor: '#C2C2DD',
                            fontSize: 15,
                            padding: 20
                        },
                        gridLines: {
                            display: false,
                            zeroLineWidth: 0,
                            zeroLineColor: "transparent",
                            drawTicks: false,
                            display: true,
                            color: "#F0F0F5",
                            borderDash: [5],
                            lineWidth: 0,
                        },
                }]
            },
            tooltips: {
                enabled: false,
            }
        }
        });
        /* ----------------------
        systolic
        -------------------------- */
        var ctx = document.getElementById('diastolic').getContext("2d");
        var Gradient = ctx.createLinearGradient(0, 0, 0, 120);
        Gradient.addColorStop(0, "rgba(93, 217, 113, 0.3)");
        Gradient.addColorStop(1, "rgba(255, 255, 255, 0)");
        var diastolic = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "July","Aug","Sep","Oct","Nov","Dec"],
            datasets: [{
                label: "diastolic",
                borderColor: "#5DD971",
                pointBorderColor: "transparent",
                pointBackgroundColor: "transparent",
                pointHoverBackgroundColor: "#ffffff",
                pointHoverBorderColor: "#5DD971",
                pointBorderWidth: 2,
                pointRadius: 5,
                pointHoverRadius: 5,
                pointHoverBorderWidth: 2,
                backgroundColor: Gradient,
                borderWidth: 2,
                data: [1000, 1400, 1000, 1900, 1200, 1300, 1000, 1600, 1000, 1700, 1000, 600]
            }]
        },
        options: {
            legend: {
                display: false,
                position: "top",
                align: "center",
            },
            scales: {
                yAxes: [{
                        ticks: {
                            display: false,
                            fontFamily: "Inter', sans-serif",
                            fontColor: '#C2C2DD',
                            fontSize: 15,
                            beginAtZero:true,
                            padding: 20,
                            max: 2000,
                            min: 0,
                            stepSize: 500,
                        },
                        gridLines: {
                            display: false,
                            zeroLineWidth: 0,
                            zeroLineColor: "transparent",
                            drawTicks: false,
                            display: true,
                            color: "#F0F0F5",
                            borderDash: [5],
                            lineWidth: 0,
                        }
        
                }],
                xAxes: [{
                        ticks: {
                            display: false,
                            fontFamily: "Inter', sans-serif",
                            beginAtZero:true,
                            fontColor: '#C2C2DD',
                            fontSize: 15,
                            padding: 20
                        },
                        gridLines: {
                            display: false,
                            zeroLineWidth: 0,
                            zeroLineColor: "transparent",
                            drawTicks: false,
                            display: true,
                            color: "#F0F0F5",
                            borderDash: [5],
                            lineWidth: 0,
                        },
                }]
            },
            tooltips: {
                enabled: false,
            }
        }
        });


        // heart-rate
        var options = {
          series: [{
            data: [60,30,45,35,80,30,40,90,60,50,80,30,60,45,70]
          }],
          chart: {
            id: 'realtime',
            height: 220,
            type: 'line',
            animations: {
              enabled: true,
              easing: 'linear',
              dynamicAnimation: {
                speed: 1000
              }
            },
            toolbar: {
              show: false
            },
            zoom: {
              enabled: false
            }
          },
          dataLabels: {
            enabled: false
          },
          grid: {
            xaxis: {
              lines: {
                show: true
              }
            }
          },
          stroke: {
            curve: 'smooth',
            colors: "#5DD971",
            width: 3,
          },
          markers: {
            size: 0
          },
          yaxis: {
            labels: {
              show: false,
            },
          },
          xaxis: {
            labels: {
              show: false,
            },
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false,
            },
          },
          legend: {
            show: false
          },
        };

        var chart = new ApexCharts(document.querySelector("#heartRate"), options);
        chart.render();
    </script>
  </body>
</html>