{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hospital Management Responsive  HTML5 Template</title>
        <meta name="description" content="Hospital Management Responsive  HTML5 Template " />
        <meta name="keywords" content="business,corporate, creative, woocommerach, design, gallery, minimal, modern, landing page, cv, designer, freelancer, html, one page, personal, portfolio, programmer, responsive, vcard, one page" />
        <meta name="author" content="Hospital Management" />

        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="{% static 'assets/images/favicon.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
        <!-- fonts file -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- css file  -->
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <script src="{% static 'assets/js/modernizr-3.11.2.min.js' %}"></script>
    </head>

    <body>        
        {% include 'base/navbar.html' %}
                <div class="page-wrape">
                    <div class="patient-list-area">
                        <div class="container-fluid">
                            <div class="section-header">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <div class="section-title">
                                            <h2 class="title">Bemorlar ruyxati</h2>
                                        </div>
                                        <br>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#patientModal">
                                           Yangi bemor qo'shish
                                        </button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <form method="GET" action="{% url 'patient_list' %}">
                                            <input type="text"  name="q"  placeholder="Search patients" value="{{ search_query }}">
                                            <button type="submit" class="btn btn-primary">Search</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="patient-list">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                              <th scope="col"><input type="checkbox" /> Bemor ID</th>
                                              <th scope="col">Bemor ismi</th>
                                              <th scope="col">Kirish sanasi</th>
                                              <th scope="col">Tayinlangan Doktor</th>
                                              <th scope="col">Kasallik</th>
                                              <th scope="col">Xolati</th>
                                              <th scope="col">Xona raqami</th>
                                              <th>Taxrirlash</th>
                                              <th>O'chirish</th>
                                              <th>Bemorga tarix yaratish</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for patient in page_obj %}
                                            <tr>
                                              <td><input type="checkbox" />{{patient.patient_key}}</td>
                                              <td>
                                                <div class="media align-items-center">
                                                    <div class="patient-imge">
                                                        <img src="{% static 'assets/images/patient/icon.png' %}" alt="patient" />
                                                    </div>
                                                    <div class="media-body">
                                                      <p class="m-0"><a href="{{ patient.get_absolute_url }}">{{patient.patient_fullname}}</a></p>
                                                    </div>
                                                </div>
                                              </td>
                                              <td>{{patient.check_in_date}}</td>
                                              <th>{{patient.patient_acceptance}}</th>
                                              <td>{{patient.diseases}}</td>
                                              <td><span class="patient-status new-patient">
                                                  {% if patient.patient_status == 'Vip' %}
                                                      <p style="color: gold;">Vip</p>
                                                      <br>
                                                  {% elif patient.patient_status == 'Oddiy' %}
                                                      <p style="color: green;">Oddiy</p>
                                                      <br>
                                                  {% else %}
                                                  <p style="color: blueviolet;">Budjet</p>
                                                  {% endif %}
                                              </span>
                                              </td>
                                              <td>{{patient.patient_room}}</td>
                                              <td>
                                                  <a href="{{ patient.get_edit_url }}"><i class="flaticon-pencil-1"></i></a>
                                              </td>
                                              <td>
                                                  <a href="{% url  'patient_delete' patient.pk %}"><i class="fas fa-trash-alt" style="font-size:18px;color:red"></i></a>
                                              </td>

                                              <td>
                                                  <a href="{% url 'diseases' pk=patient.pk %}"><i class="fa fa-history"></i></a>
                                              </td>
                                             
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                  </table>
                                </div>
                            </div>
                            <div class="pagination-area mt-10">
                                <div class="row">
                                    
                                    <div class="col-sm-6 text-left text-sm-right">
                                            <ul class="pagination-list">
                                                {% if page_obj.has_previous %}
                                                    <li class="page"><a href="?page=1">&laquo; First</a></li>
                                                    <li class="page"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                                {% endif %}
                                                
                                                {% for num in page_obj.paginator.page_range %}
                                                    {% if num == page_obj.number %}
                                                        <li class="page active"><span>{{ num }}</span></li>
                                                    {% else %}
                                                        <li class="page"><a href="?page={{ num }}">{{ num }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                                
                                                {% if page_obj.has_next %}
                                                    <li class="page"><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                                    <li class="page"><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                                                {% endif %}
                                            </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button to trigger modal -->


<!-- Modal -->
<div class="modal fade" id="patientModal" tabindex="-1" role="dialog" aria-labelledby="patientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="patientModalLabel">Add New Patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Your form -->
                <form id="patientForm" method="post" action="{% url 'patient_list' %}">
                    {% csrf_token %}
                    <div class="primary-form">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="user-image">
                                        <img src="{% static 'assets/images/profile.png' %}" alt="profile" />
                                        <a class="edit-btn" href="#"><span class="flaticon-pencil-1"></span></a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="panme">Bemorning ismi</label>
                                        {{form.patient_fullname}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="pphonne">Telefon raqam</label>
                                        {{form.patient_phone}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="paddress">Manzil</label>
                                        {{form.patient_address}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="page">Tug'ilgan yili</label>
                                        {{form.patient_birth}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="page">Yoshi</label>
                                        {{form.patient_age}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="page">Ro'yxatdan o'tgan vaqti</label>
                                        {{form.check_in_date}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="page">Kasallik turi</label>
                                        {{form.diseases}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="pbloggroup">Qon gruxi</label>
                                        {{form.patient_blood}}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="Occupation">Qabul holati</label>
                                        {{form.patient_status}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="gender">Jinsi</label>
                                        {{form.patient_gender}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="marital">Oilaviy holati</label>
                                        {{form.patient_married}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="marital">Qabul qiluvchi shifokor</label>
                                        {{form.patient_acceptance}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="page">Xona raqami</label>
                                        {{form.patient_room}}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="description">Qo'shimcha</label>
                                        {{form.patient_discription}}
                                </div>
                                <div class="col-lg-12">
                                    <input type="submit" value="Yuborish" class="form-btn">
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

        <div class="body-overlay"></div>
        
        <script src="{% static 'assets/js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>
