{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hospital Management Responsive  HTML5 Template</title>
        <meta name="description" content="Hospital Management Responsive  HTML5 Template " />
        <meta name="keywords" content="business,corporate, creative, woocommerach, design, gallery, minimal, modern, landing page, cv, designer, freelancer, html, one page, personal, portfolio, programmer, responsive, vcard, one page" />
        <meta name="author" content="Hospital Management" />

        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="{% static 'assets/images/favicon.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
        <!-- fonts file -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- css file  -->
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <script src="{% static 'assets/js/modernizr-3.11.2.min.js' %}"></script>
    </head>

    <body>        
        {% include 'base/navbar.html' %}
                <div class="page-wrape">
                    <div class="patient-list-area">
                        <div class="container-fluid">
                            <div class="section-header">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <div class="section-title">
                                            <h2 class="title">Bemorlar ruyxati</h2>
                                        </div>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a href="#" class="filter-btn"><i class="flaticon-filter"></i> Filter </a>
                                    </div>
                                </div>
                            </div>
                            <div class="patient-list">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                          <thead>
                                              <tr>
                                                <th scope="col"><input type="checkbox" /> Bemor ID</th>
                                                <th scope="col">Bemor ismi</th>
                                                <th scope="col">Kirish sanasi</th>
                                                <th scope="col">tayinlangan Doktor</th>
                                                <th scope="col">Kasallik</th>
                                                <th scope="col">Xolati</th>
                                                <th scope="col">Xona raqami</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              {% for patient in page_obj %}
                                              <tr>
                                                <td><input type="checkbox" />{{patient.patient_id}}</td>
                                                <td>
                                                  <div class="media align-items-center">
                                                      <!-- <div class="patient-imge">
                                                          <img src="{% static 'assets/images/patient/1.png' %}" alt="patient" />
                                                      </div> -->
                                                      <div class="media-body">
                                                        <p class="m-0">{{patient.patient_fullname}}</p>
                                                      </div>
                                                  </div>
                                                </td>
                                                <td>{{patient.check_in_date}}</td>
                                                <th>{{patient.patient_acceptance}}</th>
                                                <td>{{patient.diseases}}</td>
                                                <td><span class="patient-status new-patient">{{patient.patient_status}}</span></td>
                                                <td>{{patient.patient_room}}</td>
                                              </tr>
                                            {% endfor %}
                                          </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="pagination-area mt-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="shoing-reselt m-0">256 ta maʼlumotlardan 10 tasi koʻrsatilmoqda</p>
                                    </div>
                                    <div class="col-sm-6 text-left text-sm-right">
                                        {% if page_obj.has_previous %}
                                        <ul class="pagination-list">
                                            <li class="Previous"><a href="?page=1"><i class="flaticon-left-arrow"></i> Oldingi</a></li>
                                            <li class="page active"><a href="#">1</a></li>
                                            <li class="page"><a href="#">2</a></li>
                                            <li class="page"><a href="#">3</a></li>
                                            <li class="page"><a href="#">4</a></li>
                                            <li class="next"><a href="?page={{ page_obj.previous_page_number }}">Keyingi <i class="flaticon-next"></i></a></li>
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="body-overlay"></div>
        
        <script src="{% static 'assets/js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>
