{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hospital Management Responsive  HTML5 Template</title>
        <meta name="description" content="Hospital Management Responsive  HTML5 Template " />
        <meta name="keywords" content="business,corporate, creative, woocommerach, design, gallery, minimal, modern, landing page, cv, designer, freelancer, html, one page, personal, portfolio, programmer, responsive, vcard, one page" />
        <meta name="author" content="Hospital Management" />

        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
        <!-- fonts file -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- css file  -->
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <script src="{% static 'assets/js/modernizr-3.11.2.min.js' %}"></script>
    </head>

    <body>
        {% include 'base/navbar.html' %}

                <div class="page-wrape">
                    <div class="container-fluid">
                        <div class="section-header">
                            <div class="row">
                                <div class="col-6">
                                    <div class="section-title">
                                        <h2 class="title">Yangi doktor qo'shish</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="primary-form">
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-4 col-md-5 col-sm-6">
                                        <div class="form-group">
                                            <p class="label-text">Profil rasmi</p>
                                            <label class="uplode-image" for="dprofile-image">
                                                <span class="uplode-icon flaticon-cloud-computing"></span>
                                                <span class="drop-text">Suratingizni shu yerda qoldiring</span>
                                                <span class="file-size">Maksimal surat hajmi 2 MB</span>
                                            </label>
                                            <input type="file" class="form-file" id="dprofile-image" name="dprofile-image" />
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-6">
                                        <div class="form-group">
                                            <p class="label-text">Muqova rasmi</p>
                                            <label class="uplode-image" for="dcover-image">
                                                <span class="uplode-icon flaticon-cloud-computing"></span>
                                                <span class="drop-text">Suratingizni shu yerda qoldiring</span>
                                                <span class="file-size">Maksimal surat hajmi 2 MB</span>
                                            </label>
                                            <input type="file" class="form-file" id="dcover-image" name="dcover-image" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label for="danme">Doktorning ismi</label>
                                            <input type="text" class="form-control" id="danme" name="danme" placeholder="Akbarali Fayziyev" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label for="pphonne">Telifon raqami</label>
                                            <input type="text" class="form-control" id="pphonne" name="pphonne" placeholder="1234 5874 25" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label for="paddress">Manzil</label>
                                            <input type="text" class="form-control" id="paddress" name="paddress" placeholder="Uzbekistan Navoiy.sh , Bekobod MFY" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label for="page">Yoshi</label>
                                            <input type="text" class="form-control" id="page" name="page" placeholder="59" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label for="pbloggroup">Qon guruhi</label>
                                            <select class="form-control wide" id="pbloggroup">
                                              <option>α va β:birinchi (0)</option>
                                              <option>A va β: ikkinchi (A)</option>
                                              <option>α va B: uchinchi (B)</option>
                                              <option>A va B: toʻrtinchi (AB)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label for="Department">Shifokorning Lavozimi</label>
                                            <select class="form-control wide" id="Department">
                                              <option>Tibbiyot mutaxassisi</option>
                                              <option>Ginekolog</option>
                                              <option>Jismoniy terapiya</option>
                                              <option>Audiologiya</option>
                                              <option>Kordiolog</option>
                                              <option>Hamshira</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label for="demail">Email Address</label>
                                            <input type="email" class="form-control" id="demail" name="demail" placeholder="saragraham101@gmail.com" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label for="dbarth">Tug'ilgan yili</label>
                                            <input type="date" class="form-control" id="dbarth" name="dbarth"  />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label for="Skills">Qobiliyatlari</label>
                                            <select class="form-control wide" id="Skills">
                                              <option>Farmatsevt</option>
                                              <option>Ginekolog</option>
                                              <option>Audiologiya</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="Biography">Biografiya</label>
                                            <textarea class="form-control message" id="Biography" rows="3" placeholder="Qisqacha biografiya yozing"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit" class="form-btn">Doktor qo'shish</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-overlay"></div>
        
        
        <script src="{% static 'assets/js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>
