{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hospital Management Responsive  HTML5 Template</title>
        <meta name="description" content="Hospital Management Responsive  HTML5 Template " />
        <meta name="keywords" content="business,corporate, creative, woocommerach, design, gallery, minimal, modern, landing page, cv, designer, freelancer, html, one page, personal, portfolio, programmer, responsive, vcard, one page" />
        <meta name="author" content="Hospital Management" />

        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
        <!-- fonts file -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- css file  -->
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <script src="{% static 'assets/js/modernizr-3.11.2.min.js' %}"></script>
    </head>

    <body>
        {% include 'base/navbar.html' %}

                <div class="page-wrape pb-0">
                    <div class="container-fluid">
                        <div class="section-header">
                            <div class="row">
                                <div class="col-6">
                                    <div class="section-title">
                                        <h2 class="title">All Doctors</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="doctors-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-doctor">
                                        {% for doctor in doctors %}
                                        <div class="card" >
                                            <div class="row align-items-center ">
                                              <div class="col-md-5 col-sm-6">
                                                    <div class="doctor-thumbnail">
                                                        <a href="#"><img src="{{doctor.profile_image.url}}" alt="doctor" /></a>
                                                    </div>
                                              </div>
                                              <div class="col-md-7 col-sm-6">
                                                <div class="card-body">
                                                    <div class="doctor-info">
                                                        <h3 class="doctor-name"><a href="{{ doctor.get_absolute_url }}">{{doctor.doctor_fullname}}</a></h3>
                                                        <ul class="rating">
                                                            <li><span class="flaticon-star"></span></li>
                                                            <li><span class="flaticon-star"></span></li>
                                                            <li><span class="flaticon-star"></span></li>
                                                            <li><span class="flaticon-star"></span></li>
                                                            <li><span class="flaticon-star"></span></li>
                                                        </ul>
                                                        <h4 class="specialist">{{doctor.doctor_status}}</h4>
                                                        <p class="office-time"> <span class="flaticon-clock"></span>{{doctor.work_time}}</p>
                                                        <p class="doctor-desc">{{doctor.doctor_university}}</p>
                                                        <a class="primary-btn" href="{{ doctor.get_absolute_url }}">View Profile</a>
                                                        <p>Tahrirlash <a href="{{ doctor.get_edit_url }}"><i class="flaticon-pencil-1"></i></a></p>

                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="body-overlay"></div>
        
        
        
        <script src="{% static 'assets/js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>
