{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hospital Management Responsive  HTML5 Template</title>
        <meta name="description" content="Hospital Management Responsive  HTML5 Template " />
        <meta name="keywords" content="business,corporate, creative, woocommerach, design, gallery, minimal, modern, landing page, cv, designer, freelancer, html, one page, personal, portfolio, programmer, responsive, vcard, one page" />
        <meta name="author" content="Hospital Management" />

        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
        <!-- fonts file -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- css file  -->
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <script src="{% static 'assets/js/modernizr-3.11.2.min.js' %}"></script>
    </head>

    <body>
        {% include 'base/navbar.html' %}

                <div class="page-wrape">
                    <div class="container-fluid">
                        <div class="section-header">
                            <div class="row align-items-center">
                                <div class="col-md-6 col-sm-6">
                                    <div class="section-title">
                                        <h2 class="title">Uchrashuv</h2>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="right-area text-left text-sm-right mt-4 mt-sm-0">
                                        <a class="primary-btn" href="#" data-toggle="modal" data-target="#addAppointment">+ Uchrashuv qo'shish</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-wrapper">
                                    <div class="draggable-events" id="draggable-events"></div>
                                    <div id='full-calendar'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="e-info-modal modal fade" id="e-info-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog e-info-dialog modal-dialog-centered" id="c-event" role="document">
                <div class="modal-content">
                    <div class="modal-header e-info-header ">
                        <h6 class="modal-title e-info-title">Loyihani yangilash</h6>
                        <div class="e-info-action">
                            <button type="button" class="btn-icon btn-close" data-dismiss="modal" aria-label="Close">
                                <span class="fas fa-times"></span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <ul class="e-info-list">
                            <li>
                                <span data-feather="doctor-name"></span>
                                <span class="list-line">
                                    <span class="list-label">Dr. Sara Graham</span>
                                </span>
                            </li>
                            <li>
                                <span data-feather="calendar"></span>
                                <span class="list-line">
                                    <span class="list-label">Sanasi :</span>
                                    <span class="list-meta"> Thursday, January 23</span>
                                </span>
                            </li>
                            <li>
                                <span data-feather="clock"></span>
                                <span class="list-line">
                                    <span class="list-label">Vaqti :</span>
                                    <span class="list-meta"> 23⋅5:00 – 6:00 am</span>
                                </span>
                            </li>
                            <li>
                                <span data-feather="align-left"></span>
                                <span class="list-line">
                                    <span class="list-text"> Lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam consetetur sadipscing elitr sed diam</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade addappointment-from" id="addAppointment" tabindex="-1" aria-labelledby="addAppointmentLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addAppointmentLabel">Yangi uchrashuv qo'shing</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="appointmentinfo-wrap">
                        <div class="appointment-typy">
                            <a class="slect-btn active" href="#">Tadbir</a>
                            <a class="slect-btn" href="#">Eslatma</a>
                        </div>
                        <div class="appointment-color d-flex align-items-center">
                            <span class="color-title">Rangi</span>
                            <ul>
                                <li><a class="color color-one " href="#"></a></li>
                                <li><a class="color color-two active" href="#"></a></li>
                                <li><a class="color color-three" href="#"></a></li>
                                <li><a class="color color-four" href="#"></a></li>
                                <li><a class="color color-five" href="#"></a></li>
                            </ul>
                        </div>
                        <div class="primary-form">
                            <form action="#">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Meeting" />
                                </div>
                                <div class="form-group">
                                    <label for="doctor">Doktorni tanlash</label>
                                    <select class="form-control wide" id="doctor">
                                        <option>Dr. Sara Graham</option>
                                        <option>Dr. Jara Graham</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="date">Sanasi</label>
                                    <input type="date" class="form-control" id="date" name="date"/>
                                </div>
                                <div class="form-time d-flex justify-content-between">
                                    <div class="form-group w-50 mr-2">
                                        <label for="from">dan</label>
                                        <input type="time" class="form-control" id="from" name="from"/>
                                    </div>
                                    <div class="form-group w-50 ml-2">
                                        <label for="to">gacha</label>
                                        <input type="time" class="form-control" id="to" name="to"/>
                                    </div>
                                </div>
                                <div class="button-list d-flex justify-content-between">
                                    <button type="button" class="cancel-btn w-50 mr-2" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="appointment-btn w-50 ml-2">Add Appointment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="body-overlay"></div>

        <script src="{% static 'assets/js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/full-calendar-active.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>
