{% load static %}
<!-- pre-loder-area area start here  -->
<div class="preloader">
    <span class="loader">
        <span class="loader-inner"></span>
    </span>
</div>
<!-- pre-loder-area area start here  -->
<div class="main-wrapper">
    <div class="main-sidebar ">
        <div class="sidebar-wrap scrollbar-inner">
            <div class="brand-area">
                <a href="{% url 'home' %}"><img src="{% static 'assets/images/medico.png' %}" alt="medico" /></a>
            </div>
            <nav class="menu-area ">
                <ul id="metismenu">
                    <li class="current-menu-item">
                        <a href="{% url 'home' %}"><i class="flaticon-home"></i> Bosh sahifa</a>
                    </li>
                    <li class="">
                        <a class="has-arrow" href="#" ><i class="flaticon-patient"></i> Mijozlar</a>
                        <ul>
                            <li><a href="{% url 'patient_list' %}">Mijozlar ro'yxati</a></li>
                            <!-- <li><a href="{% url 'patient_profile' %}">Mijozlar profili</a></li> -->
                            <li><a href="{% url 'add_patient' %}">Yangi mijoz qo'shish</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#"><i class="flaticon-doctor"></i> Shifokorlar</a>
                        <ul>
                            <li><a href="{% url 'all_doctors' %}">Barcha shifokorlar</a></li>
                            <!-- <li><a href="{% url 'doctor_profile' %}">Shifokor profili</a></li> -->
                            <li><a href="{% url 'add_doctor' %}">Yangi shifokor qo'shish</a></li>
                            <li><a href="{% url 'appointment' %}">Qabul vaqti</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#"><i class="flaticon-alarm"></i> Favqulodda vaziyat</a>
                        <ul>
                            <li><a href="{% url 'emergency_form' %}">Favqulodda vaziyat shakli</a></li>
                            <li><a href="{% url 'emergency_list' %}">Favqulodda vaziyatlar ro'yxati</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'operation' %}"><i class="flaticon-scissors"></i>Operatsiya</a>
                    </li>
                    <li>
                        <a href="{% url 'reports' %}"><i class="flaticon-financial"></i> Hisobotlar</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts' %}"><i class="flaticon-user"></i> Hisoblar</a>
                    </li>
                    <li>
                        <a class="has-arrow" href="#"><i class="flaticon-medical"></i> Xarajat</a>
                        <ul>
                            <li><a href="{% url 'expense_list' %}">Xarajatlar ro'yxati</a></li>
                            <li><a href="{% url 'add_expense' %}">Xarajatlarni qo'shish</a></li>
                        </ul>
                    </li>
                    <li>
                        <a  href="{% url 'tulov' %}"><i class="flaticon-medical"></i>To'lov</a>
                    </li>
                    <li>
                        <a href="{% url 'rooms' %}"><i class="flaticon-user"></i>Xonalar</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main-content-wraper">
        <header class="header-area d-none d-lg-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-left">
                        <div class="search-form">
                            <form action="#">
                                <div class="form-group mb-0">
                                  <input type="text" class="form-control" id="search" placeholder="Search patients" />
                                  <button type="submit" class="search-btn"><span class="flaticon-loupe"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="header-right d-flex align-items-center justify-content-end">
                        <li><a class="Patient-btn" href="{% url 'add_patient' %}">+  Yangi bemor yaratish</a></li>
                        <li class="notification"><a href="#"><span class="flaticon-bell"></span></a></li>
                        <li class="user-area"><a href="#"><img src="{% static 'assets/images/user-image.png' %}" alt="user-image" /></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="mobile-header d-block d-lg-none">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="toggle-bar">
                            <a class="menu-bar" href="#"><span class="flaticon-menu"></span></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="page-title text-center">
                            <h2 class="title">Xush Kelibsiz</h2>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="user-area text-right">
                            <a class="user-image" href="#">
                                <img src="{% static 'assets/images//user.png' %}" alt="user" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mobile-search-form">
                            <form action="#">
                                <div class="form-group mb-0">
                                  <input type="text" class="form-control" id="mobile-search" placeholder="Search patients" />
                                  <button type="submit" class="search-btn"><span class="flaticon-loupe"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>